/* MIX */

*{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}

.bg_green {
  background-color: #1abc9c;
}
.bg_light_blue {
  background-color: #2c3e50;
}

.wrapper_small {
  max-width: 800px;
  margin: auto;
}

.divider-custom {
    height: 50px;
    width: 100%;
    max-width: 331px;
    margin: auto;
    position: relative;
}

.divider-custom-line {
    width: 100%;
    max-width: 112px;
    height: 3px;
    background-color: #fff;
    float: left;
    /* border: 1px black solid; */
    margin-top: 20px;
}

.divider-custom-icon {
    width: 100%;
    max-width: 107px;
    float: left;
    height: 100%;
    max-height: 50px;
}

@media screen and (max-width: 768px){
    .divider-custom-icon i {
        font-size: 20px;
    }    
}

.divider-custom-icon i {
    font-size: 40px;
}

/* HEADER */

/* header top */
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100px;
  line-height: 100px;
  color: #fff;
}

.nav_logo {
    font-size: 25px;
    font-weight: bold;
}

.nav_list ul{
    list-style: none;
}

.nav_list li{
    display: inline-block;
    margin: 0px 15px;
    font-weight: bold;
    font-size: 17px;
}

/* jumbo */
.jumbo {
  margin-top: 100px;
  padding: 70px 0;
}

.jumbo_text {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}

.jumbo_text * {
    color: white;
    font-weight: bold;
}

.jumbo_text .header_one {
    font-size: 70px;
    line-height: 90px;
    margin-bottom: 20px
}

.jumbo_text p {
    font-size: 20px;
    margin-top: 20px;
}

.jumbo_img {
    width: 250px;
    margin-bottom: 30px;
}

/* SECTIONS */

/* portfolio */

.box_portfolio {
  height: 250px;
  background-color: blue;
  margin-bottom: 30px;
}

/* FOOTER */

.footer_bottom {
  background-color: blue;
  color: #fff;
  padding: 20px 0;
}
